.container{
    display: grid;
    grid-template-columns:50% 50%;
    padding: 20px;
}
.info {
    padding-left: 30px;
    font-size: 52px;
}
body{
    background-color: rgb(255, 196, 0);
}
   

img{
    width: 100%;
    height: auto;
}
